arrow==1.2.3
beautifulsoup4==4.12.2
bootstrapped==0.0.2
bs4==0.0.1
certifi==2023.7.22
charset-normalizer==3.2.0
click==8.1.7
codecarbon==2.3.1
contourpy==1.1.1
cycler==0.12.0
decorator==5.1.1
deepdiff==6.5.0
experiment-impact-tracker==0.1.8
fonttools==4.43.0
future==0.18.3
fuzzywuzzy==0.18.0
geocoder==1.38.1
geographiclib==2.0
geopy==2.4.0
idna==3.4
importlib-resources==6.1.0
Jinja2==3.1.2
joblib==1.3.2
kiwisolver==1.4.5
MarkupSafe==2.1.3
matplotlib==3.8.0
numpy==1.26.0
ordered-set==4.1.0
packaging==23.1
pandas==1.3.0
Pillow==8.4.0
progiter==2.0.0
prometheus-client==0.17.1
psutil==5.9.5
py-cpuinfo==9.0.0
PyLaTeX==1.4.1
pynvml==11.5.0
pyparsing==3.1.1
python-dateutil==2.8.2
pytz==2023.3.post1
ratelim==0.1.6
requests==2.31.0
scipy==1.11.3
seaborn==0.12.2
shapely==2.0.1
six==1.16.0
soupsieve==2.5
torch==1.10.0
torchvision==0.11.1
typing_extensions==4.8.0
tzdata==2023.3
ujson==5.8.0
urllib3==2.0.5
zipp==3.17.0
